""@font-face {
font-family: 'Tahoma';
src: url('fonts/Tahoma400.ttf') format('truetype');
font-weight: normal;
font-style: normal;

/* Tipos de format()
- opentype (otf)
- truetype (ttf)
- embedded-opentype
- truetype-aat (Aple Advanced Typography)
- svg */
}

/* Global */
html, 
body {
margin: 0px;
padding: 0px;
background: #f5f5f5;
}
h1,
h2,
h3,
ul,
p{
margin: 0px;
}
ul {
margin: 0px;
padding: 0px;
}
a {   
font: inherit;
color: inherit;
text-decoration: none;
}
img {
height: auto;
display: block;
max-width: 100%;
}
::-webkit-scrollbar {
width: 7px;
background-color: rgb(35, 38, 41);
}
::-webkit-scrollbar-thumb {
background-color: var(--cor-p2);
border-radius: 30px;
}
::-webkit-scrollbar-track {
background-color: transparent;
}

/* Componentes */
.container {
box-sizing: border-box;
max-width: 930px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
.center {
margin: auto;
text-align: center;
}

/* Tipografia */
.font-1-xxl {
font: 600 2rem/0.83 "Tahoma", sans-serif;
}
.font-1-xl {
font: 600 1.5rem/0.83 "Tahoma", sans-serif;
}
.font-1-l {
font: 600 1.125rem/0.86 "Tahoma", sans-serif;
}
.font-1-s {
font: 400 1rem/1.75 "Tahoma", sans-serif;
} 
.font-1-xs {
font: 600 0.875rem/0.84 "Tahoma", sans-serif;
}  

/* Cabecalho */
.cabecalho {
padding: 50px;
}
.cabecalho h1{
padding-bottom: 30px;
color: #000;
}
.cabecalho img {
width: 190px;
}
.cabecalho h2 {
padding-top: 30px;

color: #000;
}
.cabecalho p {
box-sizing: border-box;
max-width: 930px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
color: #000;
}
.cabecalho .button a {
padding: 12px 25px;
background: #49b970;
border-radius: 20px;
}
.cabecalho .button {
display: inline-block;
display: flex;
flex-wrap: nowrap;
justify-content: center;
text-align: center;
color: #ffffff;
border-bottom: 1px solid #606060;
}

/* Historia */
.historia {
border-top: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
padding: 50px;
}
.container-historia {
border-bottom: 1px solid #606060;
}
.historia h2{
padding-top: 30px;
color: #000;
}
.historia p{
box-sizing: border-box;
max-width: 930px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
color: #000;
}
.historia span {
font-weight: bold;
}

/* Autor */
.autor {
border-bottom: 1px solid #d5d5d5;
padding: 50px;
}
.autor h2 {
padding-bottom: 20px;
color: #000;
}
.autor img{
width: 190px;
}
.autor p{
box-sizing: border-box;
max-width: 930px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
color: #000;
}

/* Rodape */
.rodape p {
box-sizing: border-box;
max-width: 930px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
color: #000;
}
.rodape span {
font-weight: bold;
}
.rodape h2 {
box-sizing: border-box;
max-width: 930px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
color: #000;
font-weight: bold;
}
.rodape .button a {
padding: 12px 25px;
background: #49b970;
border-radius: 20px;
}
.rodape .button {
display: inline-block;
display: flex;
flex-wrap: nowrap;
justify-content: center;
text-align: center;
color: #ffffff;
margin-bottom: 40px;
}